{% extends "base.html" %}

{% block title %}
Ekstrakcja Opinii
{% endblock %}

{% block content %}
<section class="container mt-4">
    <h2>O autorze</h2>
    <p>Witaj! Nazywam się Piotr Bandyk i jestem autorem tego narzędzia web scrapingowego, które pozwala na ekstrakcję opinii użytkowników z serwisu Ceneo.pl. Projekt ten powstał w ramach Akademii Nauk Stosowanych.</p>
    <p>Jeśli masz pytania lub chcesz skontaktować się ze mną, możesz napisać do mnie na adres <a href="mailto:piotr.bandyk@akademia.edu.pl">piotr.bandyk@akademia.edu.pl</a>.</p>
    <p>Wszystkie prawa do tego narzędzia są zastrzeżone &copy; Piotr Bandyk, Akademia Nauk Stosowanych.</p>
</section>
{% endblock %}
